$color-green: #17CBC4;
$color-light-green: rgba(23, 203, 197, 0.506);
$color-dark:#2c3e50;
$color-dark-seethrough:#2b3d4fb0;
$color-grey:#F7F7F7;
$color-white:#FFFFFF;
$color-blue:#2352DD;
$color-red:#EA2027;


//tabs -- materialize
$tabs-bg-color:$color-dark-seethrough;
$tabs-underline-color:#17CBC4;
$tabs-text-color:#17CBC4;
$medium-and-down:65em;