.card
{
    display:flex;
    flex-direction:column;
    min-width:35rem;

    background-color:white;
    //border:0.1px solid grey;
    border-radius:2rem;
    padding-bottom:2rem;
    margin:3rem;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.164);

    &__title {
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        height:100%;
        width:100%;
        padding:1rem;
        font-size:2rem;
        font-weight:bold;
        border-radius:2rem 2rem 0rem 0rem;

        &--workout
        {
            justify-content:space-between;
            background-image: url(../../images/imageedit_4_6928116613.png);
            background-size:100%;
            background-position:50% 50%;
        }

        

    
    }

    &__slot {
        display:flex;
        flex-direction: row;
        font-size:1.5rem;
        padding:1rem 3rem;
        width:100%;

        //border-top:0.1rem solid grey;
        //border-bottom:0.1rem solid grey;

        background-color:$color-light-green;

        &--workout {
            flex-direction:column;
            background-color:white;
        }
    }

    // &__exercise-title {
    //     font-weight:bold;
    //     font-size:5rem;
    // }

    

    &__input {
        width:4rem;
        border-radius:0.5rem;
        border:0.1rem solid grey;
    }

    &__text {
        margin:3.2rem 1rem 0rem 1rem;
    }

    &__icon {
        width: 3rem;
        height:3rem;
        margin:3rem 1rem 0rem 1rem;

        &--workout {
            align-self:flex-end;
        }

        &--checkmark {
            fill:$color-green;
        }

        &--close-circle {
            fill:red;
        }
    }

    &__btn {
        margin-top:2rem;
        border:none;

        font-size:1.2rem;
        padding:0.5rem 3rem;
        width:12rem;

        &--workout {
            width:14rem;
        }
    }
}