.nav {
    position:sticky;
    bottom:0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-family: sans-serif;
        font-size: 13px;
        color: #444444;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: #eeeeee;
        }
        
        &--active {
            color: #009578;
        }
    }

    &__icon {
        font-size: 25px;
    }

    &__text {
        font-size:10px;
    }

    @include respond(onethousandplus) {
        display:none;
    }
}
