.title-and-input {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;

    &__title {

    }

    &__input {
        border-radius:0.5rem;
        //border:0.1rem solid grey;
        border:none;
        padding:0.5rem 2rem;

        &--workout {
            margin-left:2rem;
        }
        
    }

    &__icon {
        height:4rem;
        width:4rem;
        margin-left:1rem;
        fill:$color-green;
    }

    &__btn {
        margin-left:2rem;
    }
}